@charset "utf-8";

@font-face {
    font-family: font1;
    src: url(KGSummerSunshineShadow.ttf);
}

body{
    background-image: url(https://w.forfun.com/fetch/31/31d39bf70d208dc7494dc894d9001ade.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: font1;
    text-align: center;
    font-size: 80px;
    color: red;
    background-color: rgba(0, 0, 0, 0.411);
    text-shadow: rgb(255, 255, 255) -4px 2px 2px;
}

p{
    font-family: font1;
    text-align: center;
    color: red;
    background-color: rgba(0, 0, 0, 0.795);
    font-size: 50px;
    margin-top: 3em;
    text-shadow: rgb(255, 255, 255) -4px 2px 2px;
}

input{
    text-align: center;
    margin-left: 8em;
    font-size: 40px;
    color: rgb(255, 0, 0);
}

button{
    font-size: 40px;
}

footer{
    margin-top: 1em;
    color: red;
    font-family: font1;
    background-color: rgba(0, 0, 0, 0.856);
    text-align: center;
    font-size: 30px;
    text-shadow: white -4px 2px 2px;
}

@media all and (max-width: 780px){
    h1{
        font-size: 43px;
    }

    input{
        margin-top: -1em;
        margin-left: 0em;
        font-size: 30px;
    }

    button{
        margin-top: 10px;
        margin-left: 2em;
    }
}